    <div class="row">
        <div class="col-xs-12" style="background-color: #F5F5F5; margin:10px;">
            <h3>Name</h3>
    </div>
      </div>
    
    <div class="row" >
        <div class="col-xs-12">
            <img src="" alt=""class="img-responsive">
        </div>
      
    </div>
    <div class="row">
        <div class="col-xs-12">
            <button  class="btn btn-danger pull-right" style="margin-left:5px ;">Delete</button>
            <button class="btn btn-primary pull-right">Edit</button>
        </div>
    <hr>
    <div class="row">
        <div class="col-xs-12"style="margin-left:10px;">
            <p>Phone:</p>
            <p>Email:</p>
        </div>
    </div>

    </div>
