<div class="row">
    <div class="col-xs-12" style="background-color:#F5F5F5 ;margin: 10px;">
        <h2 class="pull-left">Contacts</h2>
        <button class="btn btn-success pull-right" style="margin-top: 20px;">
           New Contact
        </button>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <a href="#" class="list-group-item clearfix"
        *ngFor="let contact of contacts">
            <div class="pull-left">
                <h4 class="list-group-item-heading">{{contact.name}}</h4>
            </div>
            <div class="pull-right">
                <span class="pull-right">
                    <img [src]="contact.imageUrl" alt={{contact.name}} class="img-responsive" style="min-height: 50px;">
                </span>
            </div>
                
            

        </a>
    </div>
</div>
